<project>
	<servers>
        	<server>
          		<id>privaterepo</id>
			<username>admin</username>
        		<password>admin</password>
        	</server>
        </servers>
        <repositories>
                <repository>
                        <id>privaterepo</id>
                        <username>admin</username>
                        <password>admin</password>
                </repository>
        </repositories>
</project>
